		  body {
		      position: relative; 
		  }

		  .affix {
		      top: 0;
		      width: 100%;
		      z-index: 9999 !important;
		  }
		  .navbar {
		      margin-bottom: 0px;
		  }
		  .navbar-inner {
              background:transparent;
          }
		  .affix ~ .container-fluid {
		     position: relative;
		     top: 50px;
		  }

		   .header{
		  	background-image: url("../img/bg.jpg");
		  	background-size: cover;
		  	color:#fff;
		  	height:475px;
		  }

		  .ui-block-b h1{
		  	font-size: 80px;
		  	color: #000;
		  	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8)
		  }

		  .ui-block-b h2{
		  	font-size: 40px;
		  	color: #000;
		  	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8)
		  }

		  .ui-grid-a img {
		  	padding-top: 10px;
	        width  : 450px;
		  }

		  .ui-block-b {
		  	padding-left: 100px;
		  	padding-top: 50px;
		  }

		  .experience-section{
			background-image: url("../img/xp.jpg");
			padding-left: 50px;
			padding-right: 50px;
	   	  }

	   	  .experience-section h1{
			text-shadow: 0px 1px 1px #4d4d4d;
			color: #222;
			font: 60px 'LeagueGothicRegular';
			letter-spacing: 3px;
		  }

		  .projects-section{

		  }

		  .projects-section h1{

		  }
		  
	   	  .skills-section{
			background-image:  url("../img/skill.jpg"); 
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			padding-right: 50px;
			padding-left: 80px;
			padding-bottom: 20px;
		  }

		  .skills-section h1{
			color: #d7ceb2;
			text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
			font: 80px 'BazarMedium';
			letter-spacing: 10px;
		  }

		  .col-md-3{
			padding-top: 20px;
			padding-bottom: 20px;
	      }

		  #section1 {padding-top:50px;height:1200px;color: #000;text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);}
		  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
		  #section3 {padding-top:50px;height:1200px;color: #fff; background-color: #ff9800;}
		  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
		  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}

		   /*Responsive CSS*/
           @media(max-width:991px){
           .myimgrsfix{max-width:100%;}
           }

           @media(max-width:670px){
           .myimgrsfix{max-width:100%;}
           }
 
		   @media (max-width: 375px) {
		   .myimgrsfix{max-width: 100%;}
		   .ui-block-b{padding-top: 10px;}
		   }