.header-section{
	/*background-color: #d5d5d5;*/
	background-image: url("../img/broken.jpg");
	/*background-size: cover;*/
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
}
hr{ 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
.name{
	color: white;
	padding-left: 50px;
}

.designation{
	color: #181818;
	padding-left: 250px;
}
h3.designation{
	font-size: 35px;
	font-weight: 600;
}

h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 70px;
  font-weight: 900;
  padding: 30px 10px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
h1.retroshadow {
  color: #2c2c2c;
  /*background-color: #d5d5d5;*/
  background-image: url("../img/broken.jpg");
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}
.imgEdit{
	max-width:250%;
    max-height:250%;
}

.experience-section{
	/*background-color: #FFF;*/
	background-image: url("../img/xp.jpg");
	padding-left: 50px;
	padding-right: 50px;
}

.skills-section{
	/*background-color: #FFF;*/
	background-image:  url("../img/skill.jpg"); 
	padding-right: 50px;
	padding-left: 80px;
	padding-bottom: 20px;
}

.col-md-3{
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer-section{
	background-color: #d5d5d5;
	padding-left: 50px;
	padding-right: 50px;
}

.link{
	padding-left: 50px;
	padding-right: 50px;
	color: black;
	transition: all .5s ease-in-out;
}

.link:hover{
	transform: scale(1.5);
}


