.header-section{
	background-color: #09F;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

.name{
	color: white;
	padding-left: 150px;
}

.designation{
	color: #181818;
	padding-left: 250px;
}

h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 70px;
  padding: 30px 10px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
h1.retroshadow {
  color: #2c2c2c;
  background-color: #d5d5d5;
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}
.imgEdit{
	max-width:250%;
    max-height:250%;
}

.experience-section{
	background-color: #FFF;
	padding-left: 50px;
	padding-right: 50px;
}

.skills-section{
	background-color: #FFF;
	padding-right: 50px;
	padding-left: 80px;
	padding-bottom: 20px;
}

.col-md-3{
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer-section{
	background-color: #09F;
	padding-left: 50px;
	padding-right: 50px;
}

.link{
	padding-left: 50px;
	padding-right: 50px;
	color: black;
	transition: all .5s ease-in-out;
}

.link:hover{
	transform: scale(1.5);
}


